.diff {
    display:none;
}

.visible {
    display:block;
}

.container{        
    width:100%;
    height: 100%;
    position:absolute;
    left:0;
    top:0px;
    z-index: 1000;
}

.popup {
    width:90%;
    margin:0 auto;
    border-radius: 7px;
    border-width: 2px;
    border-color: #2487bc;
    border-style: solid;
    background: white;
    margin:30px auto 30px auto;
    padding:6px;
}

.content {
    padding: 28px 26px 33px 25px;
}

.diff-help {
    text-align: center;
    height: 200px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.compare-a-b-help {
	border-color: #95b7d0;
    color: #95b7d0;
}

.close-popup-button {
    border-radius: 100px;
    border-style: solid;
    border-color: 2487bc;
    color: red;
    float: right;
}

.same-json {
    color: green;
}
