.results-view-selector__button-selector {
    background-color: #2487bc;
    color: white;
    float: left;
    margin: 0;
    height: 24px;
    width: 96px;
    border-width: 0;
}

.results-view-selector__button-selector-selected {
    background-color: white;
    color: black;
    float: left;
    margin: 0;
    height: 24px;
    width: 96px;
    border-width: 0;
}

.results-view-selector__button-selector:hover {
    background-color: rgb(92 171 214);
}

.results-view-selector__button-selector-container {
    display: flex;
    border-width: 1px;
    border-color: lightgrey;
    border-style: solid;
    margin-right: 12px;
    height: 24px;
}
