.header {
    margin-top:48px;
	min-height: 44px;
	font-size: 18px;
	z-index: 4;
	background: #2487bc;
	flex-wrap: nowrap;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.has-builder {
    margin-top:0px;
}

.toolbar-button {
    color:black;
    background-color: #F2F2F2;
    border-color: rgb(118, 118, 118);
    border-width: 1px;
    height: 44px;
    cursor: pointer;
}

.enabled {
    background-color: #2487bc;
    color: white;
}

.toolbar-button:hover {
    background-color: hsl(201,60%,60%);
}

.enabled:hover {
    background-color: #2487bc;
    color: white;
}