.builder {
	font-size: 14px;
	padding: 0 16px 24px;
	display: flex;
	flex-direction: column;
	gap: 16px;
	justify-content: flex-start;
	align-items: stretch;
	position: relative;
}

.builder > div {
	min-height: 20px;
	min-width: 0;
	max-width: none;
	width: 100%;
	box-sizing: border-box;
	position: relative;
	flex-grow: 0;
	flex-shrink: 0;
	align-self: stretch;
}
