#header {
  top: 0;
  left: 0;
  right: 0;
  min-height: 44px;
  font-size: 18px;
  z-index: 4;
  position: fixed;
  box-shadow: 0 0 8px hsla(0,0%,0%,0.35);
  background: #2487bc;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
}
