.close-button {
	padding: 0;
	width: 24px;
	cursor: pointer;
	background: none;
	position: relative;
	flex-grow: 0;
	flex-shrink: 0;
	align-self: auto;
	height: 24px;
}

.close-button a {
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	display: inline-block;
	vertical-align: -2px;
	content: '';
	color: #FFF;
	border-radius: 100%;
	width: 24px;
	height: 24px;
	opacity: 1;
	overflow: hidden;
	background-size: 16px 16px;
	background-position: center center;
	background-image: url(res/close-dark-@2x.png);
	background-repeat: no-repeat;
	cursor: pointer;
}

.close-button a:hover {
	background-color: hsl(201,60%,60%);
	background-image: url(res/close-@2x.png);
}

.close-button a:active {
	background-color: hsl(201,60%,70%);
	background-image: url(res/close-@2x.png);
}
