.url-part {
	flex-grow: 0;
	flex-shrink: 0;
	align-self: auto;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis "";
	position: relative;
	margin: 1px 0;
	max-width: 25%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: none;
}

.url-part input {
	border: none;
	background: none;
	color: #7290a1;
	font-size: 14px;
	outline: none;
	margin: 2px;
}

.url-part.is-parameter {
	background: hsl(205,38%,94%);
	color: hsl(202,68%,44%);
	padding-left: 4px;
	padding-right: 4px;
}

.url-part.is-parameter input {
	color: hsl(202,68%,44%);
}
